// add functions,variables,mixins etc in this file

// example of a variable set
$colors: (
  dark-gray: #666666,
  ligt-gray:#D9D9D9,
  purple: #6f2c91,
  blue:#0067B3,
);

@font-face {
  font-family: light;
  src: url(/fonts/GT-Walsheim-Pro-Light.ttf);
}
@font-face {
  font-family: light-obl;
  src: url(/fonts/GT-Walsheim-Pro-Light-Oblique.ttf);
}
@font-face {
  font-family: regular;
  src: url(/fonts/GT-Walsheim-Pro-Regular.ttf);
}
@font-face {
  font-family: regular-obl;
  src: url(/fonts/GT-Walsheim-Pro-Regular-Oblique.ttf);
}
@font-face {
  font-family: bold;
  src: url(/fonts/GT-Walsheim-Pro-Bold.ttf);
}
@font-face {
  font-family: bold-obl;
  src: url(/fonts/GT-Walsheim-Pro-Bold-Oblique.ttf);
}

$fonts: (
  light: light,
  light-obl: light-obl,
  regular: regular,
  regular-obl: regular-obl,
  bold: bold,
  bold-obl: bold-obl,
);
$font-sizes: (
  heading: 34pt,
  subtitle: 18pt,
  section-heading: 20pt,
  section-subtitle: 16pt,
  body: 13pt,
  subhead: 12pt,
);


//combining functions and variable set
@function color($color) {
  @return map-get($colors, $color);
}
// use it like this
// color(primary or whatever the name of the color is)

// font function
@function font($font) {
  @return map-get($fonts, $font);
}

@function font-size($font-size) {
  @return map-get($font-sizes, $font-size);
}


@mixin flex-center($direction, $align_position, $justify_position) {
  display: flex;
  flex-direction: $direction;
  align-items: $align_position;
  justify-content: $justify_position;
}

@mixin body-reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
//use it like this
// div{
// @include flex-center(collumn,center , space-around);}
