@use '../utilities/utilities.scss' as u;

.section-eight {
  @include u.body-reset;
  width: 100%;
  height: 100%;
}

.section-eight_content {
  padding: 2em 2em 5em;
}

.section-eight_content-h,
.section-eight_icons-h {
  font-size: u.font-size(subhead);
  font-family: u.font(bold);
}

.section-eight_icons-h {
  text-align: center;
}

.section-eight_content-h2 {
  font-size: u.font-size(heading);
  font-family: u.font(bold);
  text-align: left;
}

.section-eight_content-p {
  @include u.flex-center(column, flex-end, flex-end);
  font-size: u.font-size(body);
  font-family: u.font(regular);
}

.section-eight_content-p p {
  width: auto;
}

.section-eight_content-p > p:first-child {
  padding-right: 2em;
}

.section-eight_icons {
  padding: 5em 0;
  background-color: u.color(light-gray);
}

.section-eight_icons > img {
  width: 100%;
  height: 100%;
  content: url("/images/section-eight.svg");
}

@media only screen and (min-width: 768px) {
  .section-eight_content-h2 {
    text-align: right;
  }

  .section-eight_content-p {
    @include u.flex-center(row, flex-end, flex-end);
  }

  .section-eight_content-p p {
    width: 45vw;
  }
}

@media only screen and (min-width: 992px) {
  .section-eight_content-h {
    padding: 2em 10em;
  }

  .section-eight_content {
    padding: 1em 9em 10em;
  }

  .section-eight_content-p p {
    width: 25vw;
  }
}
