@use '/partials/utilities/utilities.scss' as u;

//global
body,
html {
  @include u.body-reset;
}

a {
  text-decoration: none;
  cursor: pointer;
}

//Header
.header {
  @include u.flex-center(column-reverse, flex-start, flex-end);
  background: #1271b9;
  color: #fff;
}

.header-content {
  padding: 2rem;

  h1 {
    margin: 1em 0;
    font-family: u.font(bold);
    font-size: 48pt;
  }

  p {
    font-family: u.font(regular);
    font-size: u.font-size(section-heading);
  }

  img {
    width: 50%;
  }
}

.header-image {
  margin: 0;
  padding: 0;
  min-height: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

//Header-sub
.header-sub {
  background-color: u.color(light-gray);
}

.header-sub,
.main-section-three {
  padding: 4em;
  text-align: center;
}

.header-sub,
.main-section-three {
  h2 {
    font-family: u.font(bold);
    font-size: u.font-size(section-heading);
  }

  p {
    font-family: u.font(regular);
    font-size: u.font-size(body);
  }
}

//Sections
.main-section-one,
.main-section-four {
  padding: 4em 0em;
  @include u.flex-center(column-reverse, center, center);
}

.main-section-two {
  padding: 4em 0;
  @include u.flex-center(column, center, center);
}

.main-section-two,
.main-section-four {
  background-color: u.color(light-gray);
}

.main-section-one,
.main-section-two,
.main-section-four {
  div {
    padding: 0 2em;
  }

  div h2 {
    font-family: u.font(bold);
    font-size: u.font-size(section-heading);
  }

  div p {
    font-family: u.font(regular);
    font-size: u.font-size(body);
  }

  figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

//iframes

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}
.iframe-wrapper {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.btn {
  max-width: 400px;
  padding: 20px 50px;
  font-size: 16px;
  font-family: u.font(bold);
  background: u.color(purple);
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background: transparent;
    border: 2px solid u.color(purple);
    color: #000;
  }
}

.dark:hover {
  background: #000;
  color: #fff;
}

.section {
  padding: 2em 5%;

  h3 {
    font-size: u.font-size(section-heading);
    font-family: u.font(bold);
  }
  p {
    font-family: u.font(regular);
    font-size: u.font-size(body);
  }
}
.section-seven,
.section-nine {
  background: u.color(light-gray);
}

.section-wrapper {
  img {
    max-width: 100%;
  }
}

.footer-dark {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    margin-top: 0.5em;
  }
}

.footer {
  color: gray;
  li {
    list-style: none;
    color: gray;
    cursor: pointer;
  }
}
// MEDIA QUERIES
@media only screen and (min-width: 768px) {
  .section-ten_content-p {
    @include u.flex-center(row, flex-start, flex-end);
  }

  .header {
    display: grid;
    grid: auto-flow 1fr / 1fr 8rem 1fr;
    background: #1271b9;
    color: #fff;
    align-items: normal;
  }

  .header::after {
    content: "";
    grid-area: 1 / 2;
    background: linear-gradient(to bottom right, #1271b9 50%, transparent 0);
  }

  .header > * {
    grid-row: 1;
  }

  .header-content {
    grid-column: 1 / 3;
    padding-right: 6rem;
    align-self: center;
    z-index: 1;
  }

  .header-image {
    grid-column: 2 / 4;

    img {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .header-wrapper {
    display: grid;
    grid-auto-rows: minmax(0, 1fr) minmax(0, 1fr);
    gap: 2rem;
  }

  .header-sub,
  .main-section-three {
    padding: 4em 15em;
  }

  .main-section-one,
  .main-section-two,
  .main-section-four {
    @include u.flex-center(row, center, center);

    div {
      width: 35%;
    }
  }

  .section {
    margin: 0 auto;
  }

  .section-wrapper {
    display: flex;
    gap: 3em;

    img {
      max-width: 350px;
      margin-top: 2em;
    }
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
    vertical-align: middle;
    justify-content: flex-start;
    gap: 3em;
  }

  .text-content {
    width: 60%;
  }

  .footer {
    font-size: 12px;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 12px;
    }
    .footer-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .section-wrapper {
    max-width: 1200px;
    padding: 15px;
    gap: 5.5em;

    img {
      max-width: 450px;
      margin: 0 auto;
    }
  }

  .reverse {
    gap: 5.5em;
  }

  .text-content {
    width: 40%;
    padding: 15px;
  }
  .img-content {
    margin-left: 2.4em;
  }

  .footer {
    .footer-links {
      width: 14%;
    }
  }
}
